@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply scroll-smooth;
    }
  }

@layer components {
    .heroButton {
        @apply px-6 py-2 border border-[#2e2d2d] mr-3  rounded-full uppercase text-xs tracking-widest transition-all text-gray-500 hover:border-[#7bff00]/40 hover:text-[#7bff00]/40;
    }

    .contactInput {
      @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
      text-gray-500 placeholder-gray-500 transition-all hover:border-[#7bff00]/40 focus:border-[#7bff00]/40 focus:text-[#7bff00]/40;
    }
}
@keyframes pulse {
  50% {
      opacity: .3;
  }
}
.animate-pulse {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-pulse1 {
  animation: pulse 3s cubic-bezier(0.0, 0.5, 0.6, 1) infinite;
}



@keyframes ping {
  100%, 75% {
      transform: scale(2);
      opacity: 0;
  }
}
.animate-ping {
  animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}